h1 {
	font-family: Arial, sans-serif;
	color: #AD6700;
	font-size: 36px;
	font-weight: bold;
	text-decoration: underline;
	text-transform: uppercase;
}
body {
	background-color:rgba(0,150,255,0.05);
	color: #006DB2;
	font-family: "Courier New", monospace;
	text-align: center;
}
p	{
	font-style: italic;
}

#steeve {
	font-weight: bold;
	font-style: normal;
	font-weight: normal;
}

.text 	{
	font-family: arial, sans-serif;
	font-style: normal;
}