@import url(http://fonts.googleapis.com/css?family=Lora:400,700|Raleway:400,600,800);
@import url(http://fonts.googleapis.com/css?family=Istok+Web:400,700,700italic|Vollkorn:400italic,400);
* { margin:0; padding:0; box-sizing:border-box; }
body {
	text-align: left;
	font-family: "Vollkorn", serif;
	font-weight: 400;
	font-size: 16px;
	background-color: #FFFFFF;
	color: #444444;
}

h1 {
	font-weight: 500;
	font-size: 2em;
	font-family: 'Raleway', sans-serif;
}

h2 {
	text-align: center;
}

header {
	background-color: rgba(255, 255, 255, 1);
	color: #333333;
	height: 6.25em;
}


header div {
	margin-top: 2em;
	margin-left: 2em;
	float: left;
	width: 40%;
}

#lwLogo {
	width: 25%;
	float: left;
	margin: 1em 0.3em;
}

header a {
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	color: #333333;
	float: right;
	margin-top: 2em;
	margin-right: 2em;
	margin-left: 0em;
}


header a img {
	width: 50%;
}

header p {
	font-weight: 500;
	font-size: 2em;
	font-family: 'Raleway', sans-serif;
	float: left;
}

header div img {
	float:right;
	width: 20%;
	height: 20%;
}

#handle {
		display: none;
	}


.hero {
	background-image: url("../images/lwAcrossRiver.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	height:90vh;
	width: 100%;
	text-align: center;
	position: relative;
}


#slogan {
	font-family: 'Raleway', sans-serif;
	font-style: italic;
	color: #FFFFFF;
	font-size: 3em;
	font-weight: 600;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
}

#downloadInfo {
	position: absolute;
	top: 90%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
	text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
	background-color: black;
	border-radius: 0.25em;
	width: 20%;
	text-decoration: none;
	color: #FFFFFF;
	height: 3em;
	padding-top: 1em;
}

#downloadInfo:hover {
	background-color: red;
}



article {
	font-size: 1em;
	padding: 4em;
	max-width: 80%;
	margin: auto;

}

#interestMain {
	background-color: #777777;
	color: #FFFFFF;
	text-align: center;
	width: 60%;
	margin: auto;
	padding: 2em 0;
}


.interestUnit {
	width: 20%;
	float: left;
	margin: 4% 2.5%;
	background-color: black;
	height: 10em;
	padding-top: 2em;

}

section div h2 {
	font-size: 3em;
}

ul {
	list-style-type: none;
	color: black;
	text-align: left;
    line-height: 1.5em;
    font-size: 0.9em;
    font-family: Lora;
    padding: 2em;
    width: 100%;

}

ul li {
	margin: 1.5em 0;
}


address {
	font-style: normal;
}


footer {
	clear: both;
	background-color: #FFFFFF;
	color: black;
	text-align: center;
}



footer a {
	text-decoration: none;
	display: block;
	margin: 2em 0;
	padding: 0.75em;
	background-color: #666666;
	width: 25%;
	border-radius: 0.25em;
	margin: 1em auto;
	color: #ffffff;
}

footer a:hover {
	background-color: #4E6DAB;
}

footer address {
	padding: 2em 0;
}

#mobileInfoPack {
	display: none;
}


#twitterHandle {

	font-family: 'Raleway', sans-serif;
	color: #FFFFFF;
	width: 10%;
	float: right;
	padding-top: 3em;
	margin-right: 2em;
	margin-left: 0em;
}



.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}



@media handheld, screen and (max-width: 1200px) {
	section div h2 {
		font-size: 1.5em;
	}

	section div h3 {
		font-size: 1em;
	}
	.interestUnit {
		height: 8em;
	}
	footer address a {
		width: 40%;
	}
}

@media handheld, screen and (max-width: 1024px) {
	.hero {
		display: none;
	}
	#slogan {
		display: none;
	}
	#mobileInfoPack {
	display: block;
	background-color: red;
}
}

@media handheld, screen and (max-width: 860px) {

	#lwLogo {
		display: none;
	}
	#slogan {
		font-size: 2.5em;
	}


	article {
		max-width: 100%;
	}
	article ul {
		font-size: 0.7em;
	}
	#interestMain {
		width: 80%;
	}
	footer address a {
		width: 60%;
	}
}

@media handheld, screen and (max-width: 625px) {
	h2 {
		font-size: 1.25em;
	}

	header div p{
		font-size: 1em;
	}

	header a {
		margin-right: 0.75em
	}

	#slogan {
		font-size: 1.5em;
	}

	.hero {
		height: 60vh;
	}

	#downloadInfo {
		font-size: 1em;
		width: 60%;
		top: 85	%;
	}

	article {
		display: none;
	}

	section {
		margin: 2em 0;
	}

	#interestMain {
		width: 90%;
	}
	.interestUnit {
		display: block;
		clear: both;
		width: 95%;
	}
	section div h2 {
		font-size: 2em;
	}
	footer address a {
		width: 90%;
	}

	.hero {
		display: none;
	}
	#mobileInfoPack {
	display: block;
	background-color: red;
}

@media handheld, screen and (max-width: 375px) {
	header div {
		width: 100%;
		margin: 0;
	}

	header a {
		display: block;
		width: 100%;
		background-color: black;
		color: #FFFFFF;
		text-align: center;
    	margin: 0.1em 0;
    	padding: 2em;
	}
	header img {
		display: none;
	}
	#handle {
		display: inherit;
	}

	header div p {
		display: none;
	}
}

