@import url(http://fonts.googleapis.com/css?family=Lora:400,700|Raleway:400,600,800);
@import url(http://fonts.googleapis.com/css?family=Istok+Web:400,700,700italic|Vollkorn:400italic,400);
* { margin:0; padding:0; box-sizing:border-box; }
body {
	text-align: left;
	font-family: "Vollkorn", serif;
	/*font-family: 'Lora', serif;*/	
	font-weight: 400;
	font-size: 16px;
	background-color: #FFFFFF;
	color: rgb(14, 64, 178);
}

h1 {
	font-weight: 500;
	font-size: 2em;
	font-family: 'Raleway', sans-serif;
}

header {
	padding-right: 1.5em;
	padding-left: 1.5em;
	background-color: rgba(29, 74, 178, 1);
	color: #FFFFFF;
	height: 100px;
}

header div {
	padding: 2em;
	width: inherit;
}

header div h1 {
	float: left;
	margin:  0 0;
}

header div a {
	float: right;
	width: auto;
}

header div img {
	float:right;
}
article {
	font-size: 1.1em;
	padding-top: 4em;
	padding-bottom: 4em;
	padding-left: 20em;
	padding-right:20em;

}

nav {
 	padding: 1em;
	background-color: rgba(29, 74, 178, 1);
	width: 100%;	/*ask John, trying to create a wrapper here to center all nav icons but margin: auto does not center;*/
}

nav div {
	float: left;
	margin: auto 3em; /*ask John why not centering vertically*/
	height: 10em;
	text-align: center;


}

nav div a h3 {
	font-family: 'Lora', serif;
	font-weight: 400;
	text-decoration: none; /*ask John why underline is not removing*/
	color: #FFFFFF;
	font-size: 1em;
	font-style: normal;
}

ul {
      list-style-type: none;
}
address {
	font-style: normal;
}

section h3 {
	display: inline;
}

section div {
	float: left;
	padding: 2em;
	color: #FFFFFF;
	font-size: 0.8em;
 	text-align: center;
}

aside ul {
	clear: both;
}

#lwLogo {
	width: 10em;
	float: left;
	margin: 0 1em;
}
#twitterHandle {

	text-align: right;
	font-family: 'Raleway', sans-serif;
	color: #FFFFFF;
	padding: 1.5em;
	float: right;
}

#twitterHandle a img {
	width: 10%;
	height: 10%;
	background-color: yellow;

}

.hero {
	background-image: url("../images/lwharf_sideViewColour.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	height:90vh;
	text-align: center;
}

#slogan {
	font-family: 'Raleway', sans-serif;
	font-style: italic;
	color: white;
	font-size: 3em;
	padding-top:5em;
	font-weight: 600;
}


#featuresList {
	padding-top: 3em;
	padding-bottom: 3em;
	padding-left: 10em;
}

.rightMargin {
	padding-right: 1.5em;
}



.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}


#contactFooter {
	padding: 2em;
}

.addressFooter {
	text-align: center;
}

#addressText {
	padding: 2em;
}

