@import url(http://fonts.googleapis.com/css?family=Lora:400,700|Raleway:400,600,800);
@import url(http://fonts.googleapis.com/css?family=Istok+Web:400,700,700italic|Vollkorn:400italic,400);
* { margin:0; padding:0; box-sizing:border-box; }
body {
	text-align: left;
	font-family: "Vollkorn", serif;
	/*font-family: 'Lora', serif;*/	
	font-weight: 400;
	font-size: 16px;
	background-color: #FFFFFF;
	color: #929292;
}

h1 {
	font-weight: 500;
	font-size: 2em;
	font-family: 'Raleway', sans-serif;
}

header {
	background-color: rgba(0, 161, 190, 1);
	color: #FFFFFF;
	height: 6.25em;
}

#twitterImg {
	max-width: 20%;
}

header p {
	font-weight: 500;
	font-size: 2em;
	font-family: 'Raleway', sans-serif;
	float: left;
}

header div {
	padding: 2em 0;
	margin: auto 0 auto 4em;
	float: left;
}


header div img {
	float:right;
	width: 20%;
	height: 20%;
}
article {
	font-size: 1.1em;
	padding: 4em;
	max-width: 80%;
	margin: auto;

}

nav {
	background-color: rgba(0, 161, 190, 1);
	margin: auto;
}

nav div div {
	float: left;
	text-align: center;
	width: 33.3%;
	margin: auto;
	padding: 4em 0;

}

nav div {
	width: 70%;
	margin: auto;
}

nav div a {
	text-decoration: none;
}

nav div a h3 {
	font-family: 'Lora', serif;
	font-weight: 400;
	text-decoration: none; /*ask John why underline is not removing*/
	color: #FFFFFF;
	font-size: 1em;
	font-style: normal;
}


.ulWrapper {
	margin: auto 0;
}

ul {
	list-style-type: none;
	color: white;
	text-align: left;
    line-height: 1.5em;
    font-size: 0.9em;
    font-family: Lora;
    padding: 2em;
    width: 100%;

}

address {
	font-style: normal;
}

section h3 {
	display: inline;
}

section div {
	padding: 2em;
	color: #FFFFFF;
	font-size: 0.8em;
 	text-align: center;
 	margin: auto;
}


footer {
	clear: both;
	background-color: #00A1BE;
	color: #FFFFFF;
	text-align: center;
}

footer nav {
	background-color: #0A48CB;
	width: 20%;
	margin: 2em auto;
	padding: 1em;
	border-radius: 1em;

}

footer a {
	text-decoration: none;
	display: block;
	margin: 2em 0;
	padding: 1em;
	background-color: #0ACB7E;
	width: 25%;
	border-radius: 1em;
	margin: 1em auto;
	color: #FFFFFF;
}

footer address {
	padding: 2em 0;
}

#lwLogo {
	max-width: 200px;
	float: left;
	margin: 1em 0.3em;
}
#twitterHandle {

	font-family: 'Raleway', sans-serif;
	color: #FFFFFF;
	width: 10%;
	float: right;
	padding-top: 3em;
	margin-right: 2em;
	margin-left: 0em;
}

#handleText {
	font-family: 'Raleway', sans-serif;
	text-decoration: none;
	color: #FFFFFF;
	max-width: 80%;
}

.hero {
	background-image: url("../images/lwAcrossRiver.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	height:90vh;
	text-align: center;
	position: relative;
}

#slogan {
	font-family: 'Raleway', sans-serif;
	font-style: italic;
	color: #FFFFFF;
	font-size: 3em;
	font-weight: 600;
	position: absolute;
	top: 92%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
}

.navWrapper {
	margin: auto;
}

.listWrapper {
	background-color: #898989;
}

.rightMargin {
	padding-right: 1.5em;
}



.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}


#contactFooter {
	padding: 2em;
}

.addressFooter {
	text-align: center;
}

#addressText {
	padding: 2em;
}


@media screen and (max-width: 1300px) {
	#handleText {
		display: none;
	}
}

@media screen and (max-width: 870px) {
    #slogan {
        font-size: 2.25em;
    }

    footer a {
    	font-size: 0.75em;
    }
}

@media screen and (max-width: 800px) {
	#lwLogo {
		display: none;
	}

}

@media screen and (max-width: 550px) {
	nav div div {
		width: 100%;
		float: none;
	}
	nav div div a {
		float: right;
		font-size: 0.5em;
		display: inline;
		padding: 0;
	}

	#twitterImg {
		max-width: 60%;
	}

	#twitterHandle {
		padding-top: 2.5em;
	}

	header div img {
		width: 100%;
		height: 100%;
	}
}
