body {
	text-align: left;
	font-family: 'Quicksand', sans-serif;	
	font-weight: 400;
	font-size: 16px;
	background-color: rgba(200,176,128,0.2);
	color: #104070;
}

h1 {
	font-weight: 500;
	font-size: 2em;
}
ul {
      list-style-type: none;
}
address {
	font-style: normal;
}
#lwLogo {
	width: 10em;
}

.hero {
	background-image: url("../images/lwharf_sideView.jpg");
	background-repeat:no-repeat;
	background-size:cover;
	height:90vh;
	text-align: center;
}

#slogan {
	font-style: italic;
	font-size: 3em;
	padding-top:5em;
}

.descriptiveText {
}

#featuresList {
}

#contactFooter {
}

.rightMargin {
	padding-right: 1.5em;
}
