body {
	text-align: left;
	font-family: 'Quicksand', sans-serif;	
	font-weight: 400;
	font-size: 13px;
	background-color: rgba(200,176,128,0.2);
	color: #104070 ;
}

h1 {
	font-weight: 500;
	font-size: 26px;
	text-align: right;
}

#lwLogo {
	max-width: 15%;
}

.hero {
	background-image: url(src="images/lwharf_sideView.jpg");
	text-align: center;
}

#slogan {
	font-style: italic;
	font-size: 48px;
}

.descriptiveText {
	text-align: center;
}

#featuresList {
	text-align: center;
}

ul {
      list-style-type: none;
}

#contactFooter {
	text-align: right;
}

.rightMargin {
	padding-right: 25px;
}

address {
	text-align: center;
	font-style: normal;
}